.entire-site {
background-color: black;
margin: 0;
background-image: linear-gradient(rgba(0, 255, 0, 0.055), rgba(255, 255, 0, 0.144), rgba(0, 128, 0, 0.075)), url(img/bg.jpg);
/* height: 100%; */
background-repeat: no-repeat;
background-position: center;
background-size: cover;


}

.title {
    background-color: black;
    color: yellow;
    text-align: center;
    padding: 10px;
    margin: 0;
    
}
.content {
    height: 800px;
    color: rgb(41, 204, 19);
    width: 800px;
}

#a1 {
    width: 200px; /* Width of the box */ 
    height: 100px; /* Height of the box */ 
    border: 2px solid black; /* Border style */ 
    background-color: white; /* Background color */ 
}
#a2 {
    width: 200px; /* Width of the box */ 
    height: 100px; /* Height of the box */ 
    border: 2px solid black; /* Border style */ 
    background-color: white; /* Background color */ 
}
#a3 {
    width: 200px; /* Width of the box */ 
    height: 100px; /* Height of the box */ 
    border: 2px solid black; /* Border style */ 
    background-color: white; /* Background color */ 
}
#a4 {
    width: 200px; /* Width of the box */ 
    height: 100px; /* Height of the box */ 
    border: 2px solid black; /* Border style */ 
    background-color: white; /* Background color */ 
}
#a5 {
    width: 200px; /* Width of the box */ 
    height: 100px; /* Height of the box */ 
    border: 2px solid black; /* Border style */ 
    background-color: white; /* Background color */ 
}

